* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
    min-width: 280px;
}

img {
    width: 100%;
    border-radius: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #FF3D00;
}

.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 340px 540px 150px;
    grid-gap: 40px;
    padding-top: 80px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-top: 20px;
    line-height: 42px;
}
.subtitle {
    margin-bottom: 10px;
    opacity: 0.4;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400px;
}

.description {
    margin-bottom: 30px;   
}

.mb-40 {
    margin-bottom: 40px;
}

.btn {
    background-color: #FF5C00;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 100px;
    transition: all 200ms  ease-in-out;
}

.btn:hover {
    background-color: #FF3D00;
}

.params {
    list-style-type: none;
}

.params li {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 30px;
    width: 100%;
    font-size: 14px; 
}

.params li .label {
    opacity: 0.4;
}



.tag {
    
}

.text-muted {
    
}
.rating-main {
    
}
.rating-counts {
    
}
.rating-details {
    
}