* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #titleId {
    color: yellow;
}

.titleClass {
    color: green !important;
} */


h1 {
    color: red;
    font-size: 94px;
    font-family: Arial, sans-serif;
    line-height: 3;
    background-color: black;
    padding: 40px;
    width: 70vw;
    height: 50vh;
}

p {
    color: red;
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 2;
    background-color: black;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 40px;
    width: 70vw;
    height: 50vh;
    
}



